{:output-wrapper true, :externs ["closure-js/externs"], :libs ["closure-js/libs"], :asset-path "js/min", :output-to "resources/public/js/chemotaxis-cljs.js", :output-dir "resources/public/js/min", :optimizations :advanced, :source-map "resources/public/js/chemotaxis-cljs.js.map", :pretty-print false}